@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  direction: rtl; /* تنظیم راست به چپ برای زبان فارسی */
}
=======
>>>>>>> 61573aeb594630db55b9a0520e56d0962ac9b03a
@layer base {
  @font-face {
    font-family: "Vazir";
    src: local("Vazir"), url("./fonts/Vazir.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Vazir-Light";
    src: local("Vazir-Light"), url("./fonts/Vazir-Light.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Vazir-Medium";
    src: local("Vazir-Medium"),
      url("./fonts/Vazir-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Vazir-Bold";
    src: local("Vazir-Bold"), url("./fonts/Vazir-Bold.woff2") format("woff2");
    font-display: swap;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
<<<<<<< HEAD
=======
body {
  font-family: "Vazir";
  height: 100%;
  display: flex;
  flex-direction: column;
}
>>>>>>> 61573aeb594630db55b9a0520e56d0962ac9b03a

/* sidebar */
.sidebar--open {
  width: 66%;
  height: 100vh;
}

.sidebar--close {
  width: 0;
  height: 0;
  overflow: hidden;
}

/* sidebar */

/* Rating */
.textSm {
  @apply text-sm !important;
}
.textBase {
  @apply text-base !important;
}

/* Rating */

<<<<<<< HEAD
=======

>>>>>>> 61573aeb594630db55b9a0520e56d0962ac9b03a
/* footer */

.blackLine::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 2px;
  background-color: white;
  right: -15px;
  top: 15px;
}

/* footer */
<<<<<<< HEAD

body {
  
}
=======
>>>>>>> 61573aeb594630db55b9a0520e56d0962ac9b03a
